.calendar {
	& > :global(.p-datepicker-trigger) {
		background-color: var(--primary);
		&:focus {
			outline: none;
		}
	}
	&:global(.p-invalid.p-component) > :global(.p-inputtext) {
		border-color: var(--action);
	}
}
